h1 {
<<<<<<< HEAD
  color: darkred;
=======
  color: blue;
>>>>>>> blue_theme
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: center;
<<<<<<< HEAD
  color: red;
}

body {
  background-color: salmon;
}

h1 {
  color: darkred;
}
h2 {
  font-style: italic;
  color: red;
}

p {
  background-color: salmon;
  font-family: sans-serif;
  text-align: center;
}
=======
  color: teal
}

p {
  color: gray;
}

body {
  background-color: skyblue;
}
>>>>>>> blue_theme
